.counter__div{
 background-color: white;
    width: 40%;
    margin: auto;
    padding: 20px;
    
    margin:  6rem auto;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}


.incr{
    background-color: darkgreen;
}

.decr{
background-color: darkred;
}
